In [1]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense, Conv1D , MaxPooling1D , Flatten , Dropout , BatchNormalization
from sklearn.preprocessing import LabelBinarizer

Using TensorFlow backend.

In [2]:
df = pd.read_csv('Dataset/Excel_lift.csv')
df.head(5)

,0X,0Y,0Z,1X,1Y,1Z,2X,2Y,2Z,3X,...,18X,18Y,18Z,19X,19Y,19Z,20X,20Y,20Z,Target
0,0,0,0,-0.000214,-0.058624,-0.005439,0.019046,-0.107819,-0.014893,0.042369,...,0.067047,-0.026790,-0.039557,0.051269,-0.022757,-0.033340,0.041671,-0.014572,-0.023431,0
1,0,0,0,-0.001391,-0.060643,-0.004128,0.017710,-0.109621,-0.012365,0.039954,...,0.063500,-0.028476,-0.043904,0.048176,-0.024836,-0.041285,0.039364,-0.015466,-0.033771,0
2,0,0,0,-0.001036,-0.059302,-0.004734,0.018886,-0.109079,-0.011933,0.040734,...,0.062321,-0.024297,-0.044743,0.046756,-0.020573,-0.041916,0.038673,-0.013439,-0.033861,0
3,0,0,0,-0.000887,-0.062005,-0.010443,0.019801,-0.115434,-0.019250,0.043068,...,0.069431,-0.020624,-0.055275,0.050557,-0.015958,-0.054195,0.037523,-0.006201,-0.043700,0
4,0,0,0,0.016177,-0.041145,-0.004947,0.030724,-0.071400,-0.017324,0.043469,...,-0.034352,-0.105367,-0.035811,-0.031043,-0.110535,-0.034749,-0.025041,-0.108211,-0.031372,0

In [3]:
y_train = df['Target']
label_binarizer = LabelBinarizer()
y_train = label_binarizer.fit_transform(y_train)

In [4]:
del df['Target']
del df['0X']
del df['0Y']
del df['0Z']

In [5]:
x = df.values
x = np.expand_dims(x,-1)
x.shape

(5252, 60, 1)

In [6]:
y = y_train
y.shape

(5252, 14)

In [7]:
model = Sequential()

model.add(Conv1D(filters=64, kernel_size=3, activation='relu',input_shape=(60,1)))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=128, kernel_size=3, activation='relu'))
model.add(Conv1D(filters=128, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(748, activation='relu'))
model.add(Dense(512, activation='relu'))
model.add(Dense(14, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_1 (Conv1D)            (None, 58, 64)            256
_________________________________________________________________
conv1d_2 (Conv1D)            (None, 56, 64)            12352
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 28, 64)            0
_________________________________________________________________
conv1d_3 (Conv1D)            (None, 26, 128)           24704
_________________________________________________________________
conv1d_4 (Conv1D)            (None, 24, 128)           49280
_________________________________________________________________
max_pooling1d_2 (MaxPooling1 (None, 12, 128)           0
_________________________________________________________________
flatten_1 (Flatten)          (None, 1536)              0
_________________________________________________________________
dense_1 (Dense)              (None, 748)               1149676
_________________________________________________________________
dense_2 (Dense)              (None, 512)               383488
_________________________________________________________________
dense_3 (Dense)              (None, 14)                7182
=================================================================
Total params: 1,626,938
Trainable params: 1,626,938
Non-trainable params: 0
_________________________________________________________________

In [8]:
history = model.fit(x, y,validation_data = (x,y), epochs=5, batch_size=64)

Train on 5252 samples, validate on 5252 samples
Epoch 1/5
5252/5252 [==============================] - 5s 987us/step - loss: 1.3411 - accuracy: 0.5661 - val_loss: 0.6472 - val_accuracy: 0.7902
Epoch 2/5
5252/5252 [==============================] - 5s 923us/step - loss: 0.5404 - accuracy: 0.8229 - val_loss: 0.4696 - val_accuracy: 0.8456
Epoch 3/5
5252/5252 [==============================] - 4s 703us/step - loss: 0.4358 - accuracy: 0.8528 - val_loss: 0.3955 - val_accuracy: 0.8618
Epoch 4/5
5252/5252 [==============================] - 4s 740us/step - loss: 0.3896 - accuracy: 0.8629 - val_loss: 0.3386 - val_accuracy: 0.8749
Epoch 5/5
5252/5252 [==============================] - 4s 706us/step - loss: 0.3708 - accuracy: 0.8690 - val_loss: 0.3784 - val_accuracy: 0.8606

In [10]:
model.save("curmodel")